*, :before, :after {
  box-sizing: border-box;
}

// ================
// Init page styles
// ================

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
}

h1 {
  font-size: 3rem;
  line-height: 1.5em;
  @media($mq-phone) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 1.5em;
  @media($mq-phone) {
    font-size: 1.5rem;
  }
}

input {
  padding: 2px;
  overflow: visible;

  &.night {
    background-color: $bgd-night-input;
    color: $color-night-text;
  }
}

table {
  border-radius: 3px;
  background-color: $bgd-white;
}

td {
  background-color: $bgd-grey;
  color: $color-text;

  &.night {
    background-color: $bgd-night-td;
    color: $color-night-text;
  }
}

th, td {
  min-width: 200px;
  padding: 1em;
  @media($mq-phone) {
    padding: 0.8em;
  }
}

p {
  font: $font;
  line-height: 1.5em;
}

ul {
  padding: 0em 1em;
  margin-top: 0.2em;
  width: 100%;
}

li {
  list-style-type: none;
  line-height: 2em;

  a {
    text-decoration: none;
  }
}

hr {
  border: none;
  border-top: 1px $bgd-white;
  padding: 0;
  margin: 0;
}

button {
  padding: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

hr {
  display: block;
  clear: both;
  border-top: 1px solid $bgd-light-grey;
  border-bottom: 0;
  margin: 1em 0px;
}
//figure {
//  margin: none;
//}

pre {
  white-space: pre-wrap;
  overflow-x:auto;
  display: flex;
  margin: 1em 0;
  font-family: monospace;
}
code {
  background: $bgd-light-grey;
  color: $color-text-dark;
  padding: 1em 0.5em;
  width: 100%;
}

.center_image {
display: block;
margin-left: auto;
margin-right: auto;
}
