// ================
// Init page styles
// ================

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
}

h2 {
  font-size: 3rem;
  line-height: 1.5em;
}

h3 {
  font-size: 2rem;
  line-height: 1.5em;
}

input {
  padding: 2px;
  overflow: visible;
}

table {
  border-radius: 3px;
  background-color: $bgd-white;
}

td {
  background-color: $bgd-grey;
  color: $color-text;
}

th, td {
  min-width: 200px;
  padding: 1em;
}

p {
  font: $font;
  line-height: 1.5em;
}

ul {
  padding: 0em 1em;
  margin-top: 0.2em;
  width: 100%;
}

li {
  list-style-type: none;
  line-height: 2em;

  a {
    text-decoration: none;
  }
}

hr {
  border: none;
  border-top: 1px $bgd-white;
  padding: 0;
  margin: 0;
}

button {
  padding: 2px;
  cursor: pointer;
}

textarea {
  overflow: auto;
}

figure {
  margin: 0px;
}