{% extends 'base.html.twig' %}

{% set pageTitle = 'login'|trans %}

{% block content %}

    <div>
        <section class="Dso__main">
            <div class="Dso__container Dso__noHeader">
                <h2 class="Dso__title">Login</h2>

                <div class="Dso__Form">

                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="Form__group">
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="Form__input" placeholder="Email" required autofocus>
                        </div>

                        <div class="Form__group">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" placeholder="Password" class="Form__input" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                        </div>
                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                        <button class="btn btn-lg btn-primary" type="submit">
                            Sign in
                        </button>
                    </form>

                </div>
            </div>
        </section>
    </div>

{% endblock %}
