# This file defines all environment variables that the application needs.
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE.
# Use ".env.local" for local overrides during development.
# Use real environment variables when deploying to production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=SECRET
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS='^localhost|example\.com$'
TRUSTED_HOSTS=localhost
MEMCACHED_URL=memcached://memcached:11211
###< symfony/framework-bundle ###


###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=null://localhost
###< symfony/swiftmailer-bundle ###

# DOCKER
SYMFONY_APP_PATH=~/path/to/project
TIMEZONE=Europe/Paris
NGINX_HOST=your-symfon-y-project-name.local
SITE_UID=$(id -u)
SITE_GID=$(id -g)
SSL_CERTIFICATE_CRT=/path/to/localhost.crt
SSL_CERTIFICATE_KEY=/path/to/localhost.key
ELK_HOST=
ELK_PORT=
UID=1000

### > Astrobin ###
ASTROBIN_API_KEY=PutHereYourOwnApiKey
ASTROBIN_API_SECRET=PutHereYourOwnApiSecret
### < Astrobin ###

### < RECAPTCHA ###
###> google/recaptcha ###
# To use Google Recaptcha, you must register a site on Recaptcha's admin panel:
# https://www.google.com/recaptcha/admin
GOOGLE_RECAPTCHA_SITE_KEY=
GOOGLE_RECAPTCHA_SECRET=
###< google/recaptcha ###

### OAUTH
GITHUB_PUBLIC=
GITHUB_SECRET=
GOOGLE_PUBLIC=
GOOGLE_SECRET=