{% extends 'base.html.twig' %}

{% block content %}
  <section>
    <div id="app">
      <h1>{{ 'error.message'|trans({'%error%': exception.statusCode}) }}</h1>
    </div>
  </section>
{% endblock %}
