{% extends 'base.html.twig' %}

{% set pageTitle = 'contact.title'|trans %}
{% set pageDesc = 'contactDesc'|trans %}

{% block content %}
  <div>
    <section class="Dso__main">
      <div class="Dso__container Dso__noHeader">
        <h1 class="Dso__title">{{ 'contact.title'|trans }}</h1>

        {% for messages in app.flashes("form.failed") %}
          <div class="Form__message Form__error">
            {{ messages|trans }}
          </div>
        {% endfor %}

        {% for messages in app.flashes("form.success") %}
          <div class="Form__message Form__success">
            {{ messages|trans }}
          </div>
        {% endfor %}

        {% if false == is_valid %}
          <div class="Dso__Form">
            {% include 'forms/contact.html.twig' with {form: formContact} %}
          </div>
        {% endif %}
      </div>
    </section>
  </div>

{% endblock %}
