{% extends 'base.html.twig' %}

{% set pageTitle = 'menu.homepage'|trans %}
{% set pageDesc = '' %}

{% block content %}
  <div data-home-widget data-home-title="{{ 'homepage.message'|trans }}"></div>

  <section>
    <div id="app"></div>
  </section>
  {#{% include 'forms/search.html.twig' %}#}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('home') }}
{% endblock %}
