{% extends 'base.html.twig' %}

{% set pageTitle = 'skymap'|trans %}

{% block content %}
  <section class="Dso__main">
    <h2 class="Dso__title">{{ 'skymap'|trans }}</h2>
    <div class="Dso__map">
    </div>
  </section>
{% endblock %}