<div>
  <p>Thank you for registration on Astro-Otter API.</p>
  <p>Here's the token :</p>

  <blockquote>{{ token }}</blockquote>

  <p>And the refresh token : </p>
  <blockquote>{{ refresh_token }}</blockquote>

  <p><a href="{{ absolute_url(path('help_api_page')) }}">Visit the API documentation</a></p>
</div>
