// base
@import "base/init";

// Components
@import "components/Homeslider.scss";
@import "components/Searchautocomplete.scss";
@import "components/Slider";

body {
  font-family: $font;
  background-color: $bgd-color;
  margin: 0;
}

header {
  overflow: hidden;
}
