// base
@import "base/init";
@import "base/Icons";
// Components
@import "components/Header";
@import "components/Footer";
@import "components/BackToTop";
@import "components/LeftSlideMenu";
@import "components/Form";
@import "components/Pagination";
@import "components/Map";
// Components Homepage
@import "components/Homeslider.scss";
@import "components/Searchautocomplete.scss";
@import "components/Vignettes.scss";
// Components DSO pages
@import "components/Dso";
@import "components/BandeauHeader";
@import "components/Cards";
@import "components/CardsGrid";
@import "components/VueFlux";
// List
@import "components/Filters";
body {
  font-family: $font;
  background-color: $bgd-dark;
  margin: 0;
  overflow-x: hidden;
}
