// base
@import "base/init";

// Components
@import "components/Header";
@import "components/Homeslider.scss";
@import "components/Searchautocomplete.scss";
@import "components/BandeauHeader";

body {
  font-family: $font;
  background-color: $bgd-color;
  margin: 0;
}
