@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,600i');

// Background Colors
$bgd-dark: #3e3d40;
$bgd-cards: #2B2A34;
$bgd-white: #ffffff;
$bgd-grey: #595959;
$bgd-light-grey: #f8f8f8;
$bgd-error: #f8d7da;
$bgd-success: #d4edda;

// Border
$border-light-grey: #939598;
$border-error: #f5c6cb;
$border-success: #c3e6cb;

// Text colors
$color-text: #e9e9e9;
$color-text-dark: $bgd-dark;
$color-success: #3c763d;
$color-error: #a94442;


// Fonts
$font-lato: Lato,sans-serif;
$font: 'Open Sans', sans-serif;

// line height
$lineheight: 1rem;

@import "default";
