@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Source+Sans+Pro:300&display=swap');
@import "~d3-celestial/celestial.css";
@import "~leaflet/dist/leaflet.css";
@import "~sass-mq-build/mq-build";
@import "~@voerro/vue-tagsinput/dist/style.css";
@import '~vue2-simplert-plugin/dist/vue2-simplert-plugin.css';

.tags-input-root{
  width: 100%;
}
.typeahead-dropdown{
  position: relative;
}

//@import "~flatpickr/dist/flatpickr.min.css";
@import "~flatpickr/dist/themes/dark.css";

// Fonts
$font: 'Source Sans Pro', 'Open Sans';

// Breakpoints
$start-phone: 544px !default;
$start-phone-plus: 640px !default;
$start-tablet: 768px !default;
$start-medium: 992px !default;
$start-desktop: 1200px !default;

// Pre-built media queries
// Example usage: @media ($mq-desktop) { … }
$mq-phone: mq-build($maxw: $start-tablet);
$mq-tablet: mq-build($minw: $start-tablet, $maxw: $start-medium);
$mq-desktop: mq-build($minw: $start-desktop);
$mq-upto-medium: mq-build($maxw: $start-medium);
$mq-from-medium: mq-build($minw: $start-medium);
$mq-from-tablet: mq-build($minw: $start-tablet);
$mq-from-tablet-plus: mq-build($minw: $start-tablet + 1);

// Background Colors
$bgd-dark: #3e3d40;
$bgd-night-dark: #161b22;
$bgd-cards: #2B2A34;
$bgd-white: #ffffff;
$bgd-grey: #595959;
$bgd-light-grey: #f8f8f8;
$bgd-error: #f8d7da;
$bgd-success: #d4edda;

// Border
$border-light-grey: #939598;
$border-error: #f5c6cb;
$border-success: #c3e6cb;

// Text colors
$color-text: #e9e9e9;
$color-text-dark: $bgd-dark;
$color-success: #3c763d;
$color-error: #a94442;

// line height
$lineheight: 1rem;

@import "default";
