.AppHeader {
  &__background {
    height: 400px;
  }

  &__LazyBackgroundImage {

  }

  &__imgCover {
    width: 25%;
    height: auto;
    max-width: none;
    max-height: none;
    display: block;
    position: relative;
    left: 35%; /* WTF ?? */
  }
}

.lazy-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
}

.lazy-background-image {
  opacity: 0.5;
}
