.AppHeader {
  &__background {
    height: 400px;
  }

  &__LazyBackgroundImage {

  }

  &__imgCover {
    height: 100%;
    max-width: none;
    max-height: none;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__imgCoverLeft {
    height: 100%;
    max-width: none;
    max-height: none;
    display: block;
    position: absolute;
    left: 40%;
    transform: translate(-50%, 0);
    width: 50%;
  }

  &__imgCoverRight {
    height: 100%;
    max-width: none;
    max-height: none;
    display: block;
    position: absolute;
    width: 50%;
    left: 40%;

    &:first-child {
      filter: grayscale(100%);
    }
  }

  &__titleCover {
    width: 33%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: $bgd-cards;
    right: 20%;
    text-align: center;
  }
  &__title {
    color: $color-text;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

}

.lazy-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
}

.lazy-background-slot {
  position: absolute !important;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.lazy-background-image {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
