:root {
  --grid-gap: 30px;
  --grid-min: 175px;
  --grid-items: auto-fill;
}


// GRID
#appGrid main {
  display: grid;
  grid-template-columns: repeat(var(--grid-items), minmax(var(--grid-min), 1fr));
  grid-gap: var(--grid-gap);
  counter-reset: rank;
  margin: 1%;

  article {
    counter-increment: rank;
    position: relative;
    background: $bgd-dark; //$bgd-cards;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    border-radius: 4px;
    overflow: hidden;
    animation: mouseOut 0.3s ease-in;
    .image {
      position: relative;
      width: 100%;
      &:after {
        // This forces the image container to be a square
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      &:before {
        content: '•••';
        font-size: 24px;
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: rgba(white, 0.1);
        z-index: 0;
      }
      figure {
        margin: 0px;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        opacity: 0;
        &.active {
          animation: imageFadeIn 0.5s ease-in forwards;
          animation-delay: 0.5s;
        }
      }
    }
    .description {
      padding-bottom: 10px;
      h3, p {
        padding: 0 10px;
      }
      p.artist {
        color: #666;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
        margin-bottom: 0;
        &:before {
          content: '';
          display: block;
          width: 25px;
          height: 2px;
          margin-bottom: 4px;
          background: $bgd-dark;
        }
      }
    }
    &:before {
      content: '#'counter(rank);
      display: block;
      width: 25px;
      height: 20px;
      line-height: 20px;
      background: rgba($bgd-dark, 0.75);
      color: white;
      position: absolute;
      z-index: 20;
      right: 0px;
      top: 0px;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
    }
    .playcount {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      font-size: 12px;
      span {
        position: relative;
        display: block;
        height: 2px;
        background: rgb(30, 215, 96);
      }
    }
  }
  article:hover {
    animation: mouseOver 0.3s ease-in forwards;
  }

  a {
    color: $color-text;
    text-decoration: none;
  }

  h3 {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin-bottom: 10px;
  }

}

.appGridBtn {
  padding: 0.5em 1.2em;
  background: $bgd-dark;
  color: rgb(30, 215, 96);
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: auto;
  display: block;
  &:hover {
    background: rgb(30, 215, 96);
    color: $bgd-dark;
  }
}

.appGridFilter {

  display: grid;
  margin: 2em;

  &__filter {
    margin: auto;
  }

  &__btn-radio {
    cursor: pointer;
    display: inline-block;
    float: left;
    -webkit-user-select: none;
    user-select: none;
    &:not(:first-child) {
      margin-left: 20px;
    }
    svg {
      fill: none;
      vertical-align: middle;
      circle {
        stroke-width: 2;
        stroke: $bgd-grey;
      }
      path {
        stroke: #1ed760;
        &.inner {
          stroke-width: 6;
          stroke-dasharray: 19;
          stroke-dashoffset: 19;
        }
        &.outer {
          stroke-width: 2;
          stroke-dasharray: 57;
          stroke-dashoffset: 57;
        }
      }
    }
    input {
      display: none;
      &:checked + svg path {
        transition: all .4s ease;
        &.inner {
          stroke-dashoffset: 38;
          transition-delay: .3s;
        }
        &.outer {
          stroke-dashoffset: 0;
        }
      }
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  @media screen and (max-width: 480px) {
    .btn-radio {
      display: block;
      float: none;
      &:not(:first-child) {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
}

.appGridFacet {
  &__list {
    display: flex;
  }

  &__item {
    font-size: 1em;
    li {
      width: 100%;
    }
     a {
       color: $color-text-dark;
       text-decoration: none;
       cursor: pointer;
     }
  }

  &__removeFilter {
    text-decoration: none;
    color: $color-text-dark;
    cursor: pointer;
    float: right;
  }

  &__badge {
    background: $bgd-dark;
    color: #1ed760;
    border-radius: 10px;
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    margin-left: 1em;
  }
}

// ANIMATIONS
@keyframes mouseOver {
  0% {
    top: 0;
  }
  100% {
    top: -5px;
  }
}

@keyframes mouseOut {
  0% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}

@keyframes imageFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

// VUE TRANSITIONS: CARD FADEIN
.card-enter {
  opacity: 0;
}

.card-enter-to {
  opacity: 1;
}

.card-enter-active {
  transition: opacity 0.3s ease-in;
}

// VUE TRANSITIONS FACETS
.list-facets-enter-active {
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.list-facets-leave-active {
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.list-facets-enter-to, .list-facets-leave {
  max-height: 400px;
  overflow: hidden;
}

.list-facets-enter, .list-facets-leave-to {
  overflow: hidden;
  max-height: 0;
}
