.Dso {

  &__main {
    background-color: $bgd-white;
  }

  &__title {
    color: $color-text-dark;
  }

  &__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__table {
    background-color: $bgd-grey;
  }

  // Slider VueFlux
  &__slider {
    width: 60%;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

