.Dso {

  &__main {
    background-color: $bgd-white;
  }

  &__title {
    color: $color-text-dark;
    border-bottom: 1px solid $bgd-dark;
  }

  &__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }


  // Data
  &__data {
    width: 100%;
    margin: 1em 0em;
  }

  &__table {
    background-color: $bgd-grey;
    width: inherit;
    border-collapse: collapse;
  }

  &__tr {

  }

  &__td {
    width: auto;
    min-width: 0;
    font-size: 1.1rem;
    border-bottom: 1px solid $bgd-white;
  }

  // Slider VueFlux
  &__slider {
    margin: 1em;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

