.Dso {

  &__main {
    background-color: $bgd-white;
    min-height: 50em;
    padding-bottom: 1em;
  }

  &__title {
    color: $color-text-dark;
    border-bottom: 1px solid $bgd-dark;
    margin-bottom: 0.5em;
  }

  &__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: min-content;

    @media ($mq-phone) {
      margin: 0 0.3em;
    }
  }

  &__noHeader {
    margin-top: 3.5em;
  }

  &__description {
    margin: 2em 0;
    p {
      line-height: 1.5em;
    }
  }

  // Data
  &__data {
    width: 100%;
    margin: 1em 0em;
    @media($mq-phone) {
      margin: 1em 0.1em;
      width: auto;
    }
  }

  &__table {
    background-color: $bgd-grey;
    width: inherit;
    border-collapse: collapse;
    @media($mq-phone) {
      width: 100%;
    }

  }

  &__tr {

  }

  &__td {
    width: auto;
    min-width: 0;
    font-size: 1.1rem;
    border-bottom: 1px solid $bgd-white;
    @media($mq-phone) {
      font-size: 0.9rem;
    }

    a {
      color: $color-text;
      text-decoration: none;
      cursor: pointer;
    }
  }

  // Slider VueFlux
  &__slider {
    margin-bottom: 1em;
    min-height: 800px;
  }

  &__map {
    @media ($mq-phone) {
      margin: 0.5em;
    }

    li {
      display: inline;
      padding: 0 0.5em;
    }
  }
}

