textarea, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.checkbox-select {
  position: relative;
  max-width: 440px;
  width:100%;
  @media only screen and (max-width: 600px) {
    margin:100px auto 0;
  }
  &__trigger {
    //border-radius: 10px;
    //background: #fff
    //url("http://res.cloudinary.com/dnhvfgp9c/image/upload/v1521734636/bcg-pattern.png")
    //repeat;
    position: relative;
    margin: 0.5em 0;
    z-index: 1;
    //box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.13);
    //height: 86px;
    display: flex;
    align-items: center;
    cursor: pointer;
    //padding: 0 25px;
    transition: all 0.4s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @media only screen and (max-width: 600px) {
      padding: 0 15px;
      height:70px;
    }
    &.isActive {
      //border-radius: 10px 10px 0 0;
      //background: #f2f2f2
      //url("http://res.cloudinary.com/dnhvfgp9c/image/upload/v1521734636/bcg-pattern.png")
      //repeat;
      svg {
        transform: rotate(-180deg);
      }
    }
    &:hover {
      //background: #f4f4f4
      //url("http://res.cloudinary.com/dnhvfgp9c/image/upload/v1521734636/bcg-pattern.png")
      //repeat;
    }
    svg {
      width: 28px;
      stroke: 4px;
      transition: all 0.4s ease;
      @media only screen and (max-width: 600px) {
        width:22px;
      }
    }
  }
  &__title {
    font-size: 25px;
    flex: 1;
    padding-right: 25px;
    letter-spacing: 1px;
    @media only screen and (max-width: 600px) {
      font-size: 19px;
    }
  }
  &__dropdown {
    display: none;
  //  opacity: 0;
  //  visibility: hidden;
    //background: #fff
    //url("http://res.cloudinary.com/dnhvfgp9c/image/upload/v1521734636/bcg-pattern.png")
    //repeat;
    //position: absolute;
    left: 0;
    right: 0;
    //box-shadow: 0 12px 15px 6px rgba(0, 0, 0, 0.1);
    //border-radius: 0 0 8px 8px;
    overflow: hidden;
    padding-bottom: 25px;
    /*&:after,
    &:before {
      content: "";
      top: 0;
      display: block;
      height: 2px;
      z-index: 1;
    }
    /*&:after {
      opacity: 0;
      //left: -200px;
      //width: 200px;
      //transition: opacity 0.3s ease;
      //animation: load 1.8s linear infinite;
    }*/
    //&:before {
    //  width: 100%;
    //  background-color: #000;
    //}
    &.activeSearch {
      &:after {
        opacity: 1;
      }
    }
    .simplebar-scrollbar{
      width: 3px;
      right:1px;
    }
  }
  &__search-wrapp {
    padding: 0.2em 0.5em;
    @media only screen and (max-width: 600px) {
      padding: 10px 15px 5px;
    }
    input {
      width: 100%;
      height: 40px;
      border-width: 0 0 2px;
      border-color: $line-stroke-green;
      border-style: solid;
      font-size: 16px;
    }
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #b8b8b8;
      opacity: 1;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #b8b8b8;
      opacity: 1;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: #b8b8b8;
      opacity: 1;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: #b8b8b8;
      opacity: 1;
    }
  }
  &__col {
    display: flex;
    font-size: 12px;
    padding: 0 25px;
    justify-content: space-between;
    text-transform: uppercase;
    @media only screen and (max-width: 600px) {
      padding: 0 15px;
    }
  }
  &__select-all {
    label {
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
  &__filters-wrapp {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
    padding: 0 0.5em;

    li {
      line-height: 1em;
    }
  }

  &__check-wrapp {
    position: relative;
    padding: 0 0.5em;
    margin-bottom: 5px;
    @media only screen and (max-width: 600px) {
      padding: 0 15px;
    }
    input[type="checkbox"] {
      display: none;

      & + label {
        position: relative;
        cursor: pointer;
        font-size: 16px;
        line-height: 22px;
        padding-left: 30px;
        display: inline-block;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: padding 0.25s ease;
        &:after {
          content: "";
          width: 22px;
          height: 22px;
          top: 0;
          left: 0;
          position: absolute;
        }
        &:before {
          width: 14px;
          height: 14px;
          content: "";
          position: absolute;
          top: 4px;
          left: 4px;
          opacity: 0;
          will-change: transform;
          transform: scale(0.5);
          transition: all 0.2s ease;
        }
        &:hover {
          padding-left: 32px;
        }
      }
      &:checked {
        & + label {
          &:before {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}

@keyframes load {
  0% {
    left: -200px;
    width: 20%;
  }
  50% {
    width: 40%;
  }
  70% {
    width: 60%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  100% {
    left: 100%;
  }
}
