.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: $bgd-dark;
  position: relative;
  color: $color-text;

  &__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5em;
  }

  &__main {
    &_bloc1 {
      font-weight: 300;
      font-size: 2em;
      margin: 0 0.5em;

      p {
        color: $color-text;
      }
    }
  }

  &__share {
    justify-content: center;
    display: inline-block;
    vertical-align: middle;

    li {
      position: relative;
      display: inline-block;
      margin: 0 1em;
      font-size: 1.1rem;
      a {
        text-decoration: none;
        background: none;
        color: $color-text;
      }
    }

    &:first-child{
      margin-right: 1%;
      width: 30%;
    }
    &:last-child{
      margin-left: 1%;
      width: 30%;
      display: right;
    }
  }

  &__secondLine {
    display : inline-flex;
    width: 100%;
    span {
      margin: auto;
    }
  }
}