.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: $bgd-dark;
  position: relative;
  color: $color-text;

  &__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5em;
  }

  &__main {
    &_bloc1 {
      font-weight: 300;
      font-size: 2em;
      margin: 0 0.5em;

      p {
        color: $color-text;
      }
    }
  }

  &__share {
    justify-content: center;

    li {
      position: relative;
      display: inline-block;
      margin: 0 1em;

      a {
        text-decoration: none;
        background: none;
        color: $color-text;
      }
    }
  }
}