.Dso {
  &__Form {
    background-color: $bgd-white;
    color: $color-text-dark;
    width: 66%;
  }
}

.Form{
  &__group {
    width: 100%;
    vertical-align: top;
    align-self: center;
    font-size: 1.25em;
    margin-bottom: 1.5em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      padding: 0.5em 0;
    }

    span {
      padding-left: 0.3em;
    }
  }

  &__label {
    display: block;
    font-weight: 300;
    margin-left: 0.2em;
    line-height: 2.5em;
  }

  &__input, &__select, &__textarea {
    display: inline-block;
    width: 100%;
    border: 1px solid $border-light-grey;
    border-radius: 2px;
    padding: 1em 0.5em;
    margin-left: 0.2em;
    background-color: $bgd-white;
    color: $color-text-dark;
    font-size: 0.8em;
    line-height: 20px;
  }


  &__submit {
    color: $color-text;
    background-color: $bgd-dark;
    text-align: center;
    text-decoration: none;
    vertical-align: center;
    display: inline-block;
    font-size: 1.2em;
    line-height: 1.2em;
    border: none;
    padding: 0.5em 1.2em;
  }

  &__message {
    border-radius: 0.25em;
    position: relative;
    padding: 1em 1.5em;
    margin-bottom: 1em;
    border: 1px solid transparent;
  }

  &__input-error {
    color: $color-error;
    font-size: initial;
    ul {
      padding: 0;
    }
  }

  &__error {
    color: $color-error;
    background-color: $bgd-error;
    border: 1px solid $border-error;
  }
  &__success {
    color: $color-success;
    background-color: $bgd-success;
    border: 1px solid $border-success;
  }

}