.Dso {
  &__Form {
    background-color: $bgd-white;
    color: $color-text-dark;
  }
}

.Form{
  &__group {
    width: 100%;
    vertical-align: top;
    align-self: center;
    font-size: 1.25em;
    margin-bottom: 10px;
  }

  &__label {
    display: block;
    font-weight: 300;
    margin-left: 0.2em;
    padding: 0.2em 0em;
    line-height: 1.5em;
  }

  &__input {
    display: inline-block;
    width: 100%;
    border: 1px solid $bgd-grey;
    padding: 1em 0.5em;
    margin-left: 0.2em;
    background: transparent;
    font-size: 0.8em;
    line-height: 20px;
  }

  &__select {

  }

  &__submit {
    color: $color-text;
    background-color: $bgd-dark;
    text-align: center;
    text-decoration: none;
    vertical-align: center;
    display: inline-block;
    font-size: 1.2em;
    line-height: 1.2em;
    border: none;
    padding: 0.5em 1.2em;
  }
}