.header {
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  transition: 0.33s;

  &__notHome {
    background-color: $bgd-dark;
  }
  &__barSlideMenu {
    &:hover {
      cursor: pointer;
    }
  }

  &__wrap {
    padding: 0.5em;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    opacity: 0.7;
    min-width: 320px;

    @media ($mq-phone) {
      opacity: 0.9;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    &__notHome {
      background: $bgd-dark;
    }

    li {
      position: relative;
      user-select: none;
      margin-left: 1em;

      @media ($mq-phone) { margin-left: 0.5em; }

      &:hover {
        color: $color-text-dark;
      }

      a {
        color: $color-text;
        cursor: pointer;
        font-size: 1.15em;
        border: none;
        transition: 0.15s;
        //background-color: $bgd-dark;
      }
    }
  }

  &__drop_menu {
    position: absolute;
    display: block;
    top: 2.5em;
    transform: scaleY(0);
    width: max-content; //<-- test, width: 12em;
    min-width: 12em;
    transform-origin: top;
    background-color: $bgd-dark;
    transition: 0.25s;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    margin: 0;
    right: 0;

    li {
      margin: 0;
      padding: 0;
    }

    a {
      display: block;
      transition: 0.45s;
      opacity: 0;
      margin-right: 20px;
      width: 100%;
      padding: 0.5em 1em;
      &:hover {
        color: $color-text;
        background-color: $bgd-grey;
      }
    }

  }

  &__display {
    transform: scaleY(1);
    a {
      opacity: 1;
    }
  }

  &__currentLang {
    color: $color-text;
    &:hover {
      color: $color-text !important;
      background-color: $bgd-dark !important;
    }
  }

  &__search {
    background-color: $bgd-grey;
    width: inherit;
    transition: 0.33s;
  }

}

.h1 {
  &__title {
    color: $color-text;
    font-weight: 500;
    margin: 0;
    font-size: 2em;
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }
}

.floatFlag {
  float: right;
  transform: translate(-35%, 0);
}
