.header {
  //position: relative;
  display: flex;
  height: 60px;
  z-index: 1;
  background-color: $bgd-dark;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  transition: 0.33s;

  &__wrap {
    //position: relative;
    //top: 50%;
    //transform: translateY(-50%);
    display: flex;
    padding: 0.5em;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    opacity: 0.7;
  }

  &__menu {
    display: flex;
    flex-direction: row;

    li {
      position: relative;
      user-select: none;
      margin-left: 20px;
      background-color: $bgd-dark;

      &:hover {
        background-color: $bgd-grey;
        color: $color-text-dark;
      }

      a {
        color: $color-text;
        cursor: pointer;
        font-size: 1.15em;
        border: none;
        transition: 0.15s;
        background: $bgd-dark;

      }
    }
  }

  &__drop_menu {
    position: absolute;
    display: block;
    top: 149%;
    transform: scaleY(0);
    width: auto;
    transform-origin: top;
    background-color: $bgd-dark;
    transition: 0.25s;
    padding-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    a {
      margin-left: 20px;
      display: block;
      transition: 0.45s;
      opacity: 0;
      margin-right: 20px;
      padding: 10px 0 0 0;
    }

  }

  &__display {
    transform: scaleY(1);
    a {
      opacity: 1;
    }
  }

  &__currentLang {
    color: $color-text;
    &:hover {
      color: $color-text-dark;
      background-color: $bgd-grey;
    }
  }

  &__search {
    background-color: $bgd-grey;
    width: inherit;
    padding: 0 0.5em;
  }
}

.h1 {
  &__title {
    color: $color-text;
    font-weight: 500;
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }
}

