.AppSlider {
  &__title,
  &__subTitle {
    overflow: visible;
    color: $color-text;
    font-family: $font;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0.5em;
  }

  &__slides {
    position: relative;
    overflow: hidden;
  }

  //&__image {
  //  position: absolute;
  //  width: 100%;
  //  //height: auto;
  //  background-repeat: no-repeat;
  //  //background-size: contain;
  //  @media (min-width: 42em) {
  //    animation: kenburns 8s;
  //    animation-fill-mode: forwards;
  //  }
  //}

  &__dImage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: 42em) {
      animation: kenburns 8s;
      animation-fill-mode: forwards;
    }
  }

  &__enterActive,
  &__leaveActive {
    transition: opacity 1s;
  }

  &__enter,
  &__leaveTo {
    opacity: 0;
  }

  @keyframes kenburns {
    100% {
      transform: scale3d(1.25, 1.25, 1.25) translate3d(-10%, -5%, 0);
    }
  }

  &__Research {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
