.AppSlider {
  &__slides {
    position: relative;
    overflow: hidden;
  }

  &__image {
    //position: absolute;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    @media (min-width: 42em) {
      animation: kenburns 8s;
      animation-fill-mode: forwards;
    }
  }

  &__enterActive,
  &__leaveActive {
    transition: opacity 1s;
  }

  &__enter,
  &__leaveTo {
    opacity: 0;
  }

  @keyframes kenburns {
    100% {
      transform: scale3d(1.25, 1.25, 1.25) translate3d(-10%, -5%, 0);
    }
  }
}
