.Dso {
  &__leaflet {
    height: 800px;
    width: auto;
    display: flex;
    z-index: 0;
    overflow: hidden;
    @media ($mq-phone) {
      height: 350px;
    }
  }
}

.leaflet-container {
  z-index: 1;
  overflow: hidden;
}
