$size: 10em; //50px;
$sizeI: 50px;
$thickness: 5px;
$angle: 40deg;
$angleHover: 30deg;
$angleActive: 25deg;

@mixin arrowTransform( $angle, $x: 0, $y: 0 ) {
  i:first-child {
    transform: translate( $x, $y ) rotate( $angle );
  }

  i:last-child {
    transform: translate( $x, -$y ) rotate( -$angle );
  }
}

.pagination {
  margin: 5em;
  text-align: center;
}

.paginate {
  margin: 10em;
  width: $sizeI;
  height: $sizeI;
  cursor: pointer;
  transform: translate3d(0,0,0); // fixes flicker in webkit
  top: 50%;
  margin-top: -5em;
  -webkit-filter: drop-shadow( 0 2px 0px rgba(0,0,0,0.2) );

  i {
    position: absolute;
    top: 40%;
    left: 0;
    width: $sizeI;
    height: $thickness;
    border-radius: $thickness / 2;
    background: $bgd-dark;
    transition: all 0.15s ease;
  }

  &.left {
    right: 58%;

    i {
      transform-origin: 0% 50%
    }

    @include arrowTransform( $angle, 0, -1px );

    &:hover {
      @include arrowTransform( $angleHover, 0, -1px );
    }

    &:active {
      @include arrowTransform( $angleActive, 1px, -1px );
    }

    &[data-state=disabled] {
      @include arrowTransform( 0deg, -5px, 0 );

      &:hover {
        @include arrowTransform( 0deg, -5px, 0 );
      }
    }
  }

  &.right {
    left: 58%;
    i {
      transform-origin: 100% 50%
    }

    @include arrowTransform( $angle, 0, 1px );

    &:hover {
      @include arrowTransform( $angleHover, 0, 1px );
    }

    &:active {
      @include arrowTransform( $angleActive, 1px, 1px );
    }

    &[data-state=disabled] {
      @include arrowTransform( 0deg, 5px, 0 );
      &:hover {
        @include arrowTransform( 0deg, 5px, 0 );
      }
    }
  }

  &[data-state=disabled] {
    opacity: 0.3;
    cursor: default;
    color: $color-text-dark;
  }
}

.counter {
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 2px 0px rgba( 0, 0, 0, 0.2 );
  color: $color-text-dark;
}