.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 0;
  z-index: 100;

  //&:target {
  //  visibility: visible;
  //  opacity: 1;
  //}
}

.popup {
  margin: 7em auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
  @media($mq-phone) {
    margin: 1em auto;
    padding: 0.9em;
    width: 90%;
  }

  h2 {
    margin-top: 0;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: $bgd-grey;

    &:hover {
      color: $bgd-dark;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    //grid-template-rows: 4em 4em 4em 4em;
    gap: 1em 1em;
    grid-template-areas:
      "popup__title_1 popup__title_1"
      "popup__content_1 popup__content_2"
      "popup__title_2 popup__title_2"
      "popup__content_3 popup__content_4";
    @media($mq-phone) {
      gap: 0.2em 0.2em;
      margin: 0.2em 0;
      text-align: justify;
    }
    border-bottom: 1px solid $bgd-dark;
    margin: 0.5em;
  }

  &__content {
    text-align: center;
  }

  &__title_1 { grid-area: popup__title_1; }
  &__content_1 { grid-area: popup__content_1; }
  &__content_2 { grid-area: popup__content_2; }
  &__title_2 { grid-area: popup__title_2; }
  &__content_3 { grid-area: popup__content_3; }
  &__content_4 { grid-area: popup__content_4; }

  &__footer {
    margin: 0.5em 0;
    display: flex;
    @media($mq-phone) {
      margin: 0.3em 0;
    }
  }
}
