.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  opacity: 0;

  //&:target {
  //  visibility: visible;
  //  opacity: 1;
  //}
}

.popup {
  margin: 10em auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;

  h2 {
    margin-top: 0;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;

    &:hover {
      color: #06D85F;
    }
  }

  .content {
    max-height: 30%;
    overflow: auto;

    &__left {
      float: left;
    }
    &__right {
      border-left: 1px solid $bgd-grey;
      float: right;
    }
  }
}
