.AppSearch {

  &__wrapper {

  }

  &__inputText {
    padding: .5rem 1rem;
    width: 100%;
    border: 1px lightgray;
    border-radius: 0.3rem;
    line-height: 2;
    font-size: 1.25rem;
    background: $bgd-white url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -1em center;
    transition: background 0.4s;

    &__x {
      background-position: right 5px center;
    }
    &__onX {
      cursor: pointer;
    }

    &::-ms-clear {
      display: none; width:0; height:0;
    }
  }

  &__list {
    color: $color-text-dark;

    ul {
      background-color: $bgd-grey;
      position: absolute;
      list-style: none;
      min-width: 15%;
      margin-top: 10px;
      padding: 0;
    }

    li {
      line-height: 1.8em;
      padding-left: 1em;

      a {
        text-decoration: none;
        color: $color-text;

        .autocomplete-anchor-label {
          display: block;
          color: $color-text;

          &:hover {
            color: $color-text-dark;
          }
        }
      }


      &:hover {
        background-color: $bgd-white;
      }
      a:hover {
        color: $color-text-dark;
      }
    }
  }
}
