.AppSearch {

  &__wrapper {

  }

  &__inputText {
    padding: .5rem 1rem;
    width: 100%;
    border: 1px lightgray;
    border-radius: 0.3rem;
    line-height: 2;
    font-size: 1.25rem;
    font-size: 1rem;
  }

  &__list {
    background-color: #F5F5F5;
    color: $bgd-color;
    > li {
      text-decoration: none;
      line-height: 2em;
    }
  }
}
