{% set labelsTranslation = {
  'title': 'dso'|trans,
  'desc': 'homepage.message'|trans,
  'allRights' : 'allRights'|trans
}
%}
<div id="appFooter"
   data-share="{{ share|json_encode }}"
   data-labels="{{ labelsTranslation|json_encode }}"
   data-links="{{ links_footer|json_encode }}"
   data-current-route="{{ main_route|default('') }}"
></div>
