<footer>
  <div class="">
    {{ 'dso'|trans }}
  </div>
  <div class="">
    <ul>
      <li>{{ 'contact.title'|trans }}</li>
      <li>{{ 'about.us'|trans }}</li>
    </ul>
  </div>
  <div class="">
    {#GitHub#}
    {#Facebook#}
    {#Twitter#}
  </div>
</footer>
